<h1>edit post <%= @post.title %></h1>

<% form_for(:post, @post, :url => {:action => 'update', :id => @post.id}) do |f| %>
  <p>
    Title: <%= f.text_field 'title' %>
  </p>
  <p>
    Content: <%= f.text_field 'content' %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
