<h1>Welcome to <%= @city.name %></h1>

<img src="<%= @city.photo_url %>" width="500px" alt="">

<ul>
    <% @posts.each do |post| %>
        <li>
            <h2><%= post.title %></h2>
            <p><%= post.content %></p>
        </li>
    <% end %>

</ul>
