/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*FONTS*/
 @import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600');

/*GENERAL */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

body {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style-type: none;
}


/*NAVBAR*/

nav, nav ul {
  padding: 20px;
  margin: 0 auto;
  background-color: #eee;
}

nav .brand {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.main-nav {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.main-nav ul a {
  padding: 0px 20px;
  font-weight: bold ;
  letter-spacing: .2em;
  color: #444;
}

.main-nav ul a:hover {
  text-decoration: none;
  color: white;
}

.btn-nav {
  margin: 0px 15px;
  background-color: white;
  border-radius: 50px;
}

.btn-nav:hover, button.btn-nav:hover{
  background-color: #444;
  color: white !important
}

/*SHOW CITY PAGE*/

.add {
  margin: 10px;
}

.banner {
  height: 350px;
  margin-bottom: 50px;
}

.banner h1 {
  color: white;
  margin: 0px;
  padding-top: 120px;
}

.border-box {
  background-color: #eee;
  padding: 15px 40px;
  margin: 0px 50px;
  text-align: left;
}

/*image crossfade*/
#cf {
  position:relative;
  width:100%;
  margin:0 auto;
  object-fit: cover;
  padding: 0px;
}

#cf img {
  position:absolute;
  object-fit: cover;
  width: 100%;
  height: 500px;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}
