<!DOCTYPE html>
<html>
  <head>
    <title>VagabondProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <div class="col col-md-6 brand">
      <h3>Vagabond Travel</h1>
    </div>
    <div class="col col-md-6 main-nav">
      <ul>
        <a href="/"><li>Home</li></a>
      </ul>
    </div>
  </nav>


  <body>
    <%= yield %>
  </body>
</html>
